
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Konkhmer+Sleokchher&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Slab:wght@100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

body{
margin: 0; 
display:flex; 
justify-content: center; 
align-items: center; 
height:100vh; 
}

hr{
    border: none; 
    height: 2px; 
    background: rgb(185, 189, 189); 
    width: 80%; 
    margin: 20px auto; 
}
.box{
    width:600px;
    height:630px;
    border:1px solid black;
    padding: 30px 50px 30px 20px; 


}

#Topic{
 text-align: center; 
}

#Topic h3{
    color:rgb(67, 195, 235);
    font-family: 'Merriweather', serif;
}

#mission, #rules{
    margin-left: 70px;
}

#statement{
    margin-left: 60px;
}

li{
    margin-bottom:20px;
    line-height:1.5 ;
}
img{
    
    width: 200px;;
    display: block;      /* makes margin auto work */
    margin: 50px auto 0; /* top 100px, horizontal auto, bottom 0 */
}
