body{
margin: 0; 
background-color: rgb(214, 213, 213); 
display:flex; 
justify-content: center; 
align-items: center; 
height:100vh; 
}

 h1{ 
    text-align: center; 
} 

#content {
    background-color: antiquewhite;
    border: 1px solid rgb(183, 180, 180);
    width: 100%;
    max-width: 750px;
    height: auto;
    overflow:hidden;
    margin: auto
}

.inner-box {
    width: 95%; 
    margin: 2% auto;
    border: 2px solid rgb(55, 55, 55);
    box-sizing: border-box;
    padding: 20px;
}

 p{ 
    color:rgb(48, 173, 173); 
    text-align: center; 
    font-size: large; 
    font-weight:bold; 
}

 hr{ 
    border: none; 
    height: 2px; 
    background: rgb(48, 173, 173); 
    width: 80%; 
    margin: 20px auto; 
} 

 #content img{ 
    display: block; 
    margin: 20px auto; 
    max-width: 100%; 
    height: auto; 
} 
 
 h2 { 
    text-align: center; 
    margin-top: 30px; 
} 

 :is(.list1, .list2, .list3) { 
    list-style-type: none; 
    padding-left: 30%; 
    text-align: left; 
    max-width: 500px; 
    margin: 0 auto 60px auto; 
} 

 .list1{ 
    padding-left: 20%; 
}